<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Catalog App</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link disabled" [routerLink]="['/']">Create</a>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
